
body {
   background-color: white;
   overflow-x:hidden;
   overflow-y:hidden;
}

h1 {
   color: blue;
   text-align: center;
}

h2 {
   color: black;
   font-size: 12px;
   font-weight: 300;
   font-family: sans-serif;
   position: absolute;
}

h3 {
   color: black;
   font-size: 12px;
   font-weight: 300;
   font-family: sans-serif;
   position: absolute;
   right: 0px;
}


.background {
   position: relative;
   width: 100%;
}

.storyTitle {
   color: black;
   font-size: 24px;
   font-weight: 400;
   font-family: sans-serif;
   text-align: center;
}

.storySummary {
   color: black;
   font-size: 24px;
   font-weight: 300;
   font-family: sans-serif;
   text-align: center;
}

.storyThumb{
display: block;
    margin: auto;
    width: 25%;
}

