
body {
   background-color: white;
   overflow-x:hidden;
   overflow-y:hidden;
}

h1 {
   color: yellow;
   margin-left: 20px;
}

h2 {
   color: black;
   font-size: 12px;
   font-weight: 300;
   font-family: sans-serif;
   position: absolute;
}

h3 {
   color: black;
   font-size: 12px;
   font-weight: 300;
   font-family: sans-serif;
   position: absolute;
   right: 0px;
}

.carDetails {
   position: absolute;
   top: 28px;
   left: 151px;
   width: 250px;
}


.background {
   position: relative;
   width: 100%;
}

.storySummary {
   color: black;
   font-size: 12px;
   font-weight: 300;
   font-family: sans-serif;
   position: absolute;
   right: 0px;
}

.profileImage {
   position: absolute;
   top: 20px;
   left: 20px;
}
